body {

}

#header {
    width: 100%;
    float: left;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    margin-bottom: 2em;
    background: #484B5B;
    color: white;
    padding-bottom: 1em;
}

#header h1 {
    margin-left: 35px;
}
#app {
    margin: 0 2em;

}

#footer {

}
 #app textarea {
    height: 10em;

}

.buttons {
    margin-top: 1em;
}
.row {
    clear: both;
}